@import url(https://fonts.google.com/share?selection.family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,900;1,100;1,200;1,300;1,600;1,700;1,800;1,900);


* {

   padding: 0;
   margin: 0;
   outline: none;
   border: none;
   box-sizing: border-box;

}


.texto {

      position: absolute;
      width: 40%;
      height: 40%;
      background: #fff;
      left: 2%;
      top: 25%;
      border: none;
      border-radius: 20px;
      font-family: 'Poppins', sans-serif;
      font-weight: 400;
      font-size: 30px;
      line-height: 150%;
    
}


.texto::placeholder {

      color: black;

}


img {

   width: 100%;
   display: flex;

}


a {

   text-decoration: none;

}


body {

   font-family: 'Poppins', sans-serif;
   background-color: #17171d;

}


nav {

    max-width: 1200px;
    margin: auto;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;

}


.nav-logo {

      max-width: 100px;

}


.nav-links {

     list-style: none;
     display: flex;
     align-items: center;

}

.link a {

     position: relative;
     padding-bottom: 0.75rem;
     color: #fff;

}

.link ::after {

      content: "";
      position: absolute;
      height: 2px;
      width: 0;
      bottom: 0;
      left: 0;
      background-color: #1408c9;
      transition: all 1s ease;
      cursor: pointer;

}


.link :hover::after {

       width: 100%;

}


.btnencriptar {

     align-items: center;
     padding: 1rem 2rem;
     font-size: 1rem;
     color: #fff;
     background-color: #1408c9;
     border-radius: 4px;
     cursor: pointer;
     transition: all 1s ease;
     box-sizing: border-box;
     display: flex;
     align-items: center;
     justify-content: space-between;
     position: absolute;
     left: 10%;
     top: 70%;

}


.btnencriptar:hover {

     background-color: #0f0688;

}


.btndesencriptar {

    align-items: center;
    padding: 1rem 2rem;
    font-size: 1rem;
    color: #fff;
    background-color: #1408c9;
    border-radius: 4px;
    cursor: pointer;
    transition: all 1s ease;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    left: 22%;
    top: 70%;

}


.btndesencriptar:hover {

    background-color: #0f0688;

}


header {

    align-items: center;
    color: #fff;
    padding: 2rem 2rem;
    font-size: 0.5rem;
    opacity: 0.5;
    transition: all 1s ease;
    margin: 40px;
    margin-top: -20px;
    position: absolute;

}


span {

    color: #fff;
    opacity: 0.5rem;
    position: absolute;
    align-items: center;
    transition: all 1s ease;
}


.txt-encriptado {

     display: flex;
     justify-content: center;
     position: absolute;
     width: 30%;
     height: 50%;
     left: 55%;
     top: 20%;
     box-shadow: 0px 20px 20px -10px rgba(0, 0, 0, 0.8);
     background: #fff;
     border-radius: 20px;

}


.mensaje-encriptado {

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 1%;
      gap: 10px;
      position: absolute;
      width: 100%;
      top: 65%;
      text-align: center;

}


.mensaje-encriptado h2 {

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    width: 60%;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    color: #5e5151;

}


.mensaje-encriptado p {

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    width: 80%;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #5e5151;

}


.txt-encriptado img {

      position: absolute;
      width: 50%;
      height: 50%;
      top: 10%;

}

/*Responsive Design*/

@media (max-width: 57.5em) {

      .container {

       display: flex;
       flex-direction: row;

      }


      .encriptar {

        width: 100%;

      }


      .texto {

       width: 80%;
       height: 60%;
       left: 2%;
       top: 20%;

      }


      header {

        width: 80%;
        left: 1%;
        top: 15%;

      }


      .btn-encriptar {

       left: 10%;
       top: 83%;

      }


      .btn-desencriptar {

         left: 30%;
         top: 83%;

      }


      .btn-encriptar:hover {

        background-color: #0f0688;

      }


      .btn-desencriptar:hover {

        background-color: #0f0688;

      }


      .txt-encriptado {

        width: 80%;
        height: 15%;
        left: 2%;
        top: 90%;

      }


      .mensaje-encriptado {

        width: 100%;
        top: 5%;

      }


      .txt-encriptado img {

        top: 0;
        display: none;
        visibility: hidden;

      }
}